# General
.git
.gitignore
.dockerignore
.github
.vscode
.idea
README.md
LICENSE
CONTRIBUTING.md
CODE_OF_CONDUCT.md
SECURITY.md
SUPPORT.md
CHANGELOG.md

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache
.mypy_cache
.coverage
htmlcov

# Node
node_modules
npm-debug.log
yarn-error.log

# Frontend Build
frontend/dist
frontend/coverage

# Backend Build
backend/build
backend/dist
backend/*.egg-info
